<h1>파이썬 실습 - 2강</h1>

---

5/13일 실습내용


*   Functions (함수)
*   Control Flow (제어문)

<h2> Function 함수 </h2>

---

어떤 입력에 대한 작업 결과를 반환해 주는 것!

In [ ]:
import requests
import pandas


# 웹사이트에 접속하여 표로 된 데이터들을 가져오는 함수
def getWebsiteTables(url):  
  html=requests.get(url)
  tables=pandas.read_html(html.text)
  return tables

In [ ]:
url = 'https://www.englishspeak.com/ko/english-words'
# 어떠한 반복되는 코드작업을 정의해놓고 
# 필요시마다 호출하여 사용하는 매커니즘
getWebsiteTables(url)

[    영어  /  한국어  영어를 감추고  쇼 영어  오디오
 0               actually  사실은  NaN
 1                   again  다시  NaN
 2                  almost  거의  NaN
 3                 already  벌써  NaN
 4                alright  괜찮다  NaN
 5                     also  또  NaN
 6                  always  항상  NaN
 7                    and  그리고  NaN
 8                 angry  화가나다  NaN
 9                  animal  동물  NaN
 10            another  또하나/다른  NaN
 11             anything  어느 것  NaN
 12                    are  이다  NaN
 13                  at  에-전치사  NaN
 14                   bad  나쁘다  NaN
 15                 badly  심하게  NaN
 16              because  왜냐하면  NaN
 17              beginner  초보자  NaN
 18                  beside  옆  NaN
 19                   best  최고  NaN
 20                 better  낮다  NaN
 21                    big  크다  NaN
 22                    bird  새  NaN
 23                 black  검은색  NaN
 24                  blue  파란색  NaN
 25                    book  책  NaN
 26                  both  둘 다  NaN
 27                  brown  갈색  NaN
 28                   but  하지만  NaN
 29            carefully  조심해서  NaN
 ..                        ...  ...
 231              useful  유용하다  NaN
 232                  very  매우  NaN
 233                 voice  소리  NaN
 234                 vowel  모음  NaN
 235                      wall  NaN
 236                   war  전쟁  NaN
 237                    we  우리  NaN
 238                 weak  약하다  NaN
 239                well  잘 있다  NaN
 240                 wheel  바퀴  NaN
 241                 white  흰색  NaN
 242                whose  누구의  NaN
 243                  wide  넓다  NaN
 244                window  창문  NaN
 245              with  같이-전치사  NaN
 246           without  없이-전치사  NaN
 247              woman  여성-단수  NaN
 248            worse  나쁘다-비교격  NaN
 249            worst  나쁘다-최상급  NaN
 250                     worst  NaN
 251               wrong  잘못하다  NaN
 252               yellow  노란색  NaN
 253                    yes  네  NaN
 254                   yet  아직  NaN
 255                    you  너  NaN
 256                young  어리다  NaN
 257                  your  너의  NaN
 258                yours  너의것  NaN
 259            yourself  너 자신  NaN
 260       yourselves  너 자신-복수  NaN

 [261 rows x 2 columns]]

<h3>함수의 정의</h3>

---

함수를 정의한다는 것은 어떠한 작업을 한줄로 압축시킨다고 볼수 있습니다. 

이 방법은 매우 유용하며 주로 **반복되는 작업이나 , 가독성을 위한 간결화** 에 주로 사용됩니다.

In [ ]:
# 우리에게 익숙한 함수부터 알아볼까요?

# 수학에서의 함수
# f(x) = 3x + 2
# g(x,y) = 10x+2y + 3


# 그렇다면 컴퓨터에서는 함수를 어떻게 표현할까요?



def f(x):
  # 실행할 코드 내용
   
  # 3x + 2
  result = 3 * x + 2

  
  # 결과를 반환합니다. (return)
  return result




def g(x,y):
  # 실행할 코드 내용
  
  # 10x + 2y + 3
  result = 10 * x + 2 * y + 3
  
  # 결과를 반환합니다. (return)
  return result

# 이 코드를 실행하면 함수 f(x) 와 g(x,y) 가 '정의' 됩니다!
# 정의 하는 것은 함수를 실행하는 것이 아닙니다!

<h3>함수의 실행</h3>

---
함수를 실행 할 때는 
1. 함수명
2. 괄호
3. 매개변수들 

***** 매개변수란? (parameter) 함수 코드 내부에 전달할 변수들  *****

In [ ]:
# 위에서 정의한 함수 f(x) 를 실행해볼까요?

f(3)

11

In [ ]:
# 위에서 정의한 함수 g(x,y) 를 실행해볼까요?

g(2,3)

29

<h3>알고가기</h3>


---


- def 은 정의하다라는 define에서 따온 글자로 
파이썬에서는 앞으로 함수를 '정의'하겠다고 선언하는 예약어입니다.

- return 은 함수의 결과 값을 반환할 때 사용하는 예약어입니다.
   
   return 이 없으면 아무것도 반환하지 않는 것입니다. 
---

In [ ]:
# 따라 작성하면서 암기해보세요

# 2 제곱하는 함수 square 를 정의함


####################################
# square 은 x^2 제곱이라는 뜻입니다.
#
# def square(x):
#   result = x * x
#   return result
#
####################################

# 위 코드를 따라서 작성해보세요!
def square(x):
   result = x * x
   return result




# 이것을 사용자가 정의 했다고 하여
# '사용자 정의 함수' 라고 부릅니다!


프로그래밍을 처음 시작할 때 가장 많이 하는 실수는 '오타' 입니다.


**함수를 정의할 때 흔히 실수하는 오타**

*   : 를 적었는지 확인하기!


`def myfunction()`


` def myfunction():`

*   들여쓰기 (tab)

만약에 함수를 정의하는 코드를 작성하였는데 에러가 난다면 

위의 2가지를 확인해보세요!

In [ ]:
# 한번 연습해 볼까요?

# 함수명 : multiply
# 매개 변수 (2개) : x, y
# 반환 값 : x * y

# def 함수의 이름 (매개변수) :
#   실행할 코드 내부 ...
#   .....
#   return 반환 값
# -------------아래에 코드를 입력하세요----------------

def multiply(x,y):
  return x*y


multiply(4,5)

# 이것을 사용자가 정의 했다고 하여
# '사용자 정의 함수' 라고 부릅니다!

20

**다양하게 함수를 정의하기!**

In [ ]:
# 다양하게 함수를 정의하기 1 

def my_function1(x):  
  result = x + 10
# return 이 없으면 반환 값이 없는 함수로 정의한것! (None)



def my_function2(x):  
  result = x + 10
  return result

  # return 이 있으면 반환 값이 있는 함수로 정의한것! (result)



# 결과를 받아옴
result1 = my_function1(3)
result2 = my_function2(3)

print(result1)
print(result2)

None
13

In [ ]:
# 다양하게 함수를 정의하기 2


def my_function(x):
  # 내부에서 int(정수형) 타입이 아니면 에러나는 경우가 존재
  
  result = x + 10
  # '안녕하세요 문자열입니다.' + 10 => TypeError가 난다!
  return result

#my_function('안녕하세요 문자열입니다.')
my_function(10)



def my_function(x:int):
  # 이 함수를 실행만 하는 사람에게 알리기 위해 
  # 매개변수 값에 type 을 명시할 수 있음
  
  result = x + 10
  return result


def my_function(x:int)->int:
  # 반환(return) 타입을 명시할 수도 있음
  
  result = x + 10
  return result

my_function(2)

12

In [ ]:
# 다양하게 함수를 정의하기 3

def my_function(x:int)->int:
  # 함수 내부에서 사용하는 함수를 선언하는 것이 가능
  def inner(i):
    # 들여쓰기 조심!
    return i + 10
  
  result = inner(x) + inner(x)
  return result


my_function(2)

4

In [ ]:
# 다양하게 함수를 정의하기 4
# 기본 초기 값 지정
def my_function(x,y=2):
  # y값의 기본 값을 (default) 2로 지정함

  
  result = x+y
  return result


# y 값을 입력하지 않으면 default값인 y=2 로 대입된다.
print("my_function(2)  ==> ",my_function(2))

# y 값을 직접 입력 가능하다.
print("my_function(2,10)  ==> ",my_function(2,10))

my_function(2)  ==>  4
my_function(2,10)  ==>  12

<h3>함수명의 가독성을 위한 함수명 표기법</h3>

**1. Java 같은 경우는 아래와 같이 주로 코드를 작성합니다.**

첫번째 단어는 '소문자'
두번째 단어의 첫 글자는 '대문자'
Java 같은 경우는 이러한 방식으로 코드를 작성한다.

예시 ) 


```
public void myFunction(String x){

    System.out.println(x)
}

```



  
  
**2. c언어 , Python 같은 경우는 아래와 같이 주로 코드를 작성합니다.**

각 단어마다 _ 표시를 사용하여 구분짓는다.
c언어, python.. 같은 경우는 _ 을 이용하여 


```
def my_function(x):

  print(x)
```

In [ ]:
def myFunction(x): 
  print(x)
  return x
  
def my_function(x):
  print(x)
  return x


프로그래밍을 처음 시작할 때 가장 많이 하는 실수는 '오타' 입니다.


**함수를 정의할 때 흔히 실수하는 오타**

*   : 를 적었는지 확인하기!

 def my_function()

 def my_function():

*   들여쓰기 (tab)

만약에 함수를 정의하는 코드를 작성하였는데 에러가 난다면 

위의 2가지를 확인해보세요!

<h3>함수는 기본적으로 
매개변수의 '값'을 복사합니다.</h3>

따라서 변수를 함수에 던져
값을 바꾸려고 해도 바뀌지 않습니다.

In [ ]:
def my_function(x):
  x = x + 2
  return x


a = 3
print("함수에 넣기 전의 변수 a의 값은 : ", a)
my_function(a)
print("함수에 넣은 후의 변수 a의 값은 : ", a)

함수에 넣기 전의 변수 a의 값은 :  3
함수에 넣은 후의 변수 a의 값은 :  3

<h3>왜 함수를 사용할까요?</h3>

---

코드의 재사용

In [ ]:
print("**********************************************************")
print("********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************")
print("**********           1. 공부하기           *****************")
print("**********           2. 프로젝트           *****************")
print("**********           3. 시험보기           *****************")
print("**********************************************************")

# 이 문장을 3번 출력하려면?

**********************************************************
********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************
**********           1. 공부하기           *****************
**********           2. 프로젝트           *****************
**********           3. 시험보기           *****************
**********************************************************

In [ ]:
def printDataWorld():  
  print("**********************************************************")
  print("********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************")
  print("**********           1. 공부하기           *****************")
  print("**********           2. 프로젝트           *****************")
  print("**********           3. 시험보기           *****************")
  print("**********************************************************")

In [ ]:
# 코드를 재사용 할 수가 있다!
printDataWorld()
printDataWorld()
printDataWorld()

**********************************************************
********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************
**********           1. 공부하기           *****************
**********           2. 프로젝트           *****************
**********           3. 시험보기           *****************
**********************************************************
**********************************************************
********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************
**********           1. 공부하기           *****************
**********           2. 프로젝트           *****************
**********           3. 시험보기           *****************
**********************************************************
**********************************************************
********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************
**********           1. 공부하기           *****************
**********           2. 프로젝트           *****************
**********           3. 시험보기           *****************
**********************************************************

<h2>  Control Flow (제어 흐름) </h2>

---

흐름을 제어한다는 뜻으로 

일반적으로 코드는 위에서 아래로 순차적으로 실행됩니다.

이때 if, while, for 문등의 예약어를 사용하면 

어떤 조건을 만족할 경우에만 실행하거나 (if) ,

특정 구간을 반복 할 수 있습니다.(for in , while)

In [ ]:
# 중간고사 6번 문제

A = 0
i = 0

while(True):
  A = A + i
  i = i + 1
  if i > 100:
    break

print(A)

5050

In [ ]:
# 중간고사 6번 문제 정답

def sigma(n):
  A = 0
  i = 0
  
  # 살짝 다른 방식
  while( not ( i > n) ):
    A = A + i
    i = i + 1
  return A

sigma(100)

5050

In [ ]:
def printDataWorld():  
  print("**********************************************************")
  print("********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************")
  print("**********           1. 공부하기           *****************")
  print("**********           2. 프로젝트           *****************")
  print("**********           3. 시험보기           *****************")
  print("**********************************************************")
  print("")



#if 문

printDataWorld()
 
x = input("번호를 입력해주세요.")

# 비교 연산자 ==,>, <, >=, <=
# 잘못된 비교연산자 =< , => , = (대입 연산임)

if x == '1':
  print('Python 공부하기')
  
elif x == '2':
  print('조원들아 모여라!')
  
elif x == '3':
  print("데표세 A+ 가쥬아았!!")
  
else:
  print("잘못 입력하였습니다.")

**********************************************************
********** 데이터로 표현하는 세상에 오신것을 환영합니다! ************
**********           1. 공부하기           *****************
**********           2. 프로젝트           *****************
**********           3. 시험보기           *****************
**********************************************************

번호를 입력해주세요.2
조원들아 모여라!

In [ ]:
#for in 문 (반복문)

my_list = [1,2,3,4,5]

for e in my_list:
  print("my_list : ",e)


  # 1<= x <5 (이상, 미만)
  # 일반적으로 내장된 함수들은
  # 이상, 미만의 형태로 작성되어 있다.
  # ex) range(1,5) == [1,2,3,4]   
  #                            1<= x < 5]
  
  
for e in range(1,5):
  print("range : ",e)


# index 도 함께 알고싶다면?? 
# enumerate

for i,e in enumerate(my_list):
  print("index : ", i, ", element : " , e)

my_list :  1
my_list :  2
my_list :  3
my_list :  4
my_list :  5
range :  1
range :  2
range :  3
range :  4
index :  0 , element :  1
index :  1 , element :  2
index :  2 , element :  3
index :  3 , element :  4
index :  4 , element :  5

In [ ]:
#while 문 (반복문)


# for in 문이 어떠한 '리스트(또는 튜플, 문자열..)' 에 의해 반복이 제어 되는 흐름이라면

# while 문은 주어진 '조건'에 의해 반복이 제어 되는 흐름이다.

i = 0
# 조건 : i < 5 이면 실행 그렇지 않으면 while문 종료(탈출)

while i<5:
  
  print('i =', i)
  i = i + 1
# 탈출 : i <= 0 이면 탈출

i = 0
i = 1
i = 2
i = 3
i = 4

In [ ]:
my_list = [1,2,3,4,5]

while my_list:
  print('my_list =', my_list)
  e = my_list.pop()
  # pop 이란 함수는 리스트에서 원소를 하나 제거하는 것! (마지막 인덱스 부터)

  print('e = ', e)

  

# 탈출 : i <= 0 이면 탈출

my_list = [1, 2, 3, 4, 5]
e =  5
my_list = [1, 2, 3, 4]
e =  4
my_list = [1, 2, 3]
e =  3
my_list = [1, 2]
e =  2
my_list = [1]
e =  1

In [ ]:
# break 와 continue 문 (탈출, 건너뛰기 방법)
my_list = [1,2,3,4,5,6,7]

for e in my_list:  
  print(e)
  if e == 3:
    print('건너뛰자!')
    continue
  elif e == 6:
    print('반복문을 탈출하자!')    
    break
    # e == 6이면 for 문을 탈출함

1
2
3
건너뛰자!
4
5
6
반복문을 탈출하자!

In [ ]:
# pass

# pass는 실행 할 것이 아무 것도 없다는 것을 의미. 따라서 아무런 동작을 하지 않고 다음 코드를 실행

def passFunction():
  pass
  # 함수를 작성하고 내부에 무언가를 작성하지 않으면
  # 이처럼 에러가 난다.
  # 그럴 때 pass 라고 작성해주면 통과!
  # pass

In [ ]:
# pass

def passFunction():
  # 뭔가 작성하고 싶지 않으면?
  pass

In [ ]:
x = 10

if x>10 :
  print('x 가 10보다 큽니다!')
elif x==10 :
  print('x 는 10입니다.')
else :
  pass

x 는 10입니다.

<h3>2019년 5월 13일 월요일</h3>

데표세 과제

In [ ]:
# 무엇이 에러를 발생시켰는지 확인해 보세요!
def my_function(x):
  result = x * x
  return result

In [ ]:
# 무엇이 에러를 발생시켰는지 확인해 보세요!
def my_function(x):
  result = x * x
  return result