<h1>파이썬 실습 - 3강</h1>
  
5/12일 실습내용 
*  List

## 리스트(List) 란? 

리스트는 숫자와 문자열만으로는 표현할 수 있는 부분의 한계가 존재해서 그 부분을 보안하기 위해 만든 것입니다.

### List 만들기 

리스트의 구조는 단순해요 변수로 리스트를 정의하고  대괄호 안에 여러 개의 값을 넣고 각각을 , 로 구분하면 됩니다. 

반 학생들의 키를 가지고 List 를 만들어 봅시다.

In [ ]:
#List_name(변수) = [a,b,c] 
heights = [175,155,163,184]  # height변수로 list 지정하고 
print("반 학생들의 키를 리스트로 표현하면:")
print(heights)

반 학생들의 키를 리스트로 표현하면:
[175, 155, 163, 184]

키 라는 변수의 이름에  175,155,163,184 와 같은 여러 개의 값을 담을 수 있습니다 
이게 바로 List 입니다.

*  대동제 라인업을 아래 예제를 보고 리스트를 만들어 보세요 *
* 만약 에러가 뜬다면 입력 값들 사이에 콤마 (,) 를 표시했는지 살펴 보세요

In [ ]:
#우리조원들의 학번을 리스트로 만들어 출력해 보세요!

studentid_num =[19,18,17]
print("우리조원들의 학번은 :")
print(studentid_num)

우리조원들의 학번은 :
[19, 18, 17]

### List에 문자 담기 

  **리스트에는 숫자(int 형) 뿐만 아니라 텍스트(string) 도 담을 수 있습니다. 텍스트를 list에 넣을 경우에는 작은 따옴표 '이건 string' 로 감싸서  넣어 줘야 합니다. 또한 list에 숫자와 텍스트 둘다 넣을 수 있습니다.

In [ ]:
# 아래는 이름과 엔트리조 번호를 가지는 entry list 입니다 
entry = ['내이름',177]

print("내 entry 정보")
print(entry) #entry list를 출력합니다.

내 entry 정보
['내이름', 177]

**아래의 2019 대동제 라인업을 보고 List 로 만들어 보세요**

* 21일 : 치즈 , 윤딴딴
* 22일 : 카더가든, 잔나비
* 23일 : 여자아이들

In [ ]:
# 대동제 라인업을 list로 만들어 보세요 
print("대동제 라인업")

day21 = ['치즈','윤딴딴']#치즈,윤딴딴을 추가해 보세요
day22 = ['카더가든','잔나비'] #카더가든,잔나비를 추가해 보세요
day23 = ['여자아이들'] #여자아이들도 추가해보세요

print("day21:",day21)
print("day22:",day22)
print("day23:",day23)

대동제 라인업
day21: ['치즈', '윤딴딴']
day22: ['카더가든', '잔나비']
day23: ['여자아이들']

###List 에 List 담기 

list에는 숫자, 문자 뿐만 아니라 심지어 다른 리스트를 담을 수 있습니다!  
 리스트 안에 다른 리스트를 넣을 때는 대괄호를 하나 더 써줘야 합니다.
 
 **[  [ ]  ]**  이렇게요.

In [ ]:
# list 안에 list 
lineup = [['치즈'],['카더가든'],['잔나비']]  
print(lineup)

[['치즈'], ['카더가든'], ['잔나비']]

## .append() 
리스트에 다른 값을 추가하고 싶을 때는  .append()라는 함수를 사용하여 새로운 값을 추가할 수 있습니다.  
 .append() 함수는 리스트 이름 뒤에 붙여야 합니다!  만약 lineup이라는 리스트에 값을 추가할 경우에는

Lineup.append('추가할 값')    이런식으로 말이죠

In [ ]:
# 24일 라인업 list에 날짜 값을 추가 합니다
# 다음은 24일 라인업 list 입니다
day24 = ['그레이','쌈디','우원재']
print("24일 라인업:")
print(day24)

# 새로운 날짜 값을 .append()로 추가
day24.append('이태경')
day24.append('24')# 24를 .append를 사용해서 추가했습니다
print("'24'를 추가한 list:")
print(day24) #24가 추가 되었는지 확인해 볼까요? 
print(" 날짜 24가 추가 되었습니다")

24일 라인업:
['그레이', '쌈디', '우원재']
'24'를 추가한 list:
['그레이', '쌈디', '우원재', '이태경', '24']
 날짜 24가 추가 되었습니다

### + 로 리스트에 값 추가하기 

append 외에도 +를 이용해서 리스트에 원하는 값을 추가 할 수 있습니다.

아래는 데표세에서 여러분이 해야하는 과제들 입니다.

* 엔트리 팀플
* 파이썬 수업 과제

파이썬 수업이 끝나고 교수님이 수업 시간에 갑자기 다음주에 파이썬 프로젝트 과제 설명이 있다고 말씀 하십니다. 위의 예제를 참고하여 homework list에 새로운 프로젝트 과제를 추가하고 총 과제 수를 업데이트 해보세요**

In [ ]:
# 데표세 과제들을 list로 표현합니다
homework = ['엔트리 팀플','파이썬 수업 과제'] # 여러분의 과제들
print("데표세 과제는:") 
print(homework)

# '프로젝트' 를 과제 리스트에 추가하세요
homwork = ['엔트리 팀플','파이썬 수업 과제']
project = ['프로젝트']
print("수정된 데표세 과제는:")  # 여러분이 해야할 일이 추가 되었습니다
print(homework+project)

데표세 과제는:
['엔트리 팀플', '파이썬 수업 과제']
수정된 데표세 과제는:
['엔트리 팀플', '파이썬 수업 과제', '프로젝트']

## Range
 
 리스트에 연속적인 숫자 목록을 만들고 싶을 경우가 있습니다. 파이썬은 0 부터 9까지의 숫자가 포함된 list를 만들 경우 0부터 9를 전부 입력 하기 보다 range() 함수를 사용하면 우리가 지정하는 숫자에 맞게 list를 생성해 줍니다.  range 함수는 0부터 입력 받은 숫자 바로 이전 숫자까지를 생성합니다.

In [ ]:
# num = [0,1,2,3,4,5,6,7,8,9] 이렇게 0~9 까지 입력하는건 귀찮죠

# 그래서 range를 사용해서 0부터 9까지 숫자를 가지는 range 객체를 생성합니다. 
my_range = range(10) 

# range 를 출력해 볼까요?
print("0부터 9까지 숫자")
print(my_range)
print("range(0,10) 은 0부터 10 미만의 숫자를 포함한다는 뜻 입니다")

0부터 9까지 숫자
range(0, 10)
range(0,10) 은 0부터 10 미만의 숫자를 포함한다는 뜻 입니다

## 리스트 인덱싱 슬라이싱   

### 인덱싱(index)
리스트는 문자열처럼 인덱싱을 적용하여  리스트 안의 값 들을 가져올 수 있습니다. 

 
 num = [0,1,2,3,4,5]  라는  list가 있을 경우, 
 
 num[0] 은 num 리스트의 첫 번째 요소값을 말합니다. 
 num[1] 은 두번째, num[2]는 세번째 이렇게 순서대로 리스트안의 요소 값을 말합니다. 
 
 어 근데 왜 num[1]이 두 번째 숫자인가 하고 궁금하실 거에요. 그 이유는 **파이썬은 0부터 숫자를 세기 때문이죠** 
 이렇게 생각하면 이해 될거에요

In [ ]:
# 특정 위치의 값을 불러 출력할 수 있습니다. 

list1 = [0,3,5,4]  # num이라는 리스트가 있습니다. 
print("list2  안에 있는 세 번째 값은:")
print(list1[2]) # num 리스트에서 두번째에 들어있는 값을 print 합니다.

# 쉽죠? 그럼 이제 숫자 말고 텍스트도 볼까요? 
list2 = [ 'i', 'love','you',3000] 
print("list2 안에 있는 두 번째 단어를 print:")
print(list2 [1])  # love는 두 번째 단어니까 list2[1] 이겠죠?

## 위 리스트 에서 love 라는 단어를 print 해보세요!

list2  안에 있는 세 번째 값은:
5
list2 안에 있는 두 번째 단어를 print:
love

### 슬라이싱(slicing)

슬라이싱은 말 그대로 문자열이나 리스트 에서 단순히 한 문자만 뽑아내는 것이 아니라 원하는 값을 여러개 가져오는 기능 입니다. 
* list[ 시작:끝]   이렇게 생겼습니다. 

그럼 이제 문자열 하고 배열을 slicing 해볼게요

In [ ]:
# 문자열을 slicing 하면
text = "i love you 3000"  
text = text[7:15] # index 0부터 ~ index 6전 (5) 까지 가져옵니다
print("인덱스0 부터 5까지 값을 출력하면:")
print(text) # 가져온 값을 살펴봅시다

인덱스0 부터 5까지 값을 출력하면:
you 3000

문장에서 0부터 6 번째 자리에 있는 단어들이 출력 되었습니다! 
그럼 이제 배열 slicing을 해볼게요 배열도 마찬가지 입니다. 아까 위에서 배열 인덱싱도 같다고 배웠죠?

In [ ]:
list = ['i','love','you','3000']
#list = list[1 : 3]  # 리스트에서 첫 번째 부터 2 번째 값을 가져옵니다.
print("list 안의 1번째 부터 2번째 까지의 값은:")
print(list) 
print("위 문장을 다 slicing을 이용해서 가져오고 print 해보세요!")


list = list[0:4]
# list[시작:끝] 을 여기아래에 여러분이 입력해 보세요


print(list)

list 안의 1번째 부터 2번째 까지의 값은:
['i', 'love', 'you', '3000']
위 문장을 다 slicing을 이용해서 가져오고 print 해보세요!
['i', 'love', 'you', '3000']

list [시작: 끝] 에서 위에서 한 것 처럼 범위를 지정할 수도 있지만,  시작과 끝 부분을 얻어보는 방법을 더 쉽게 표현 할 수 있습니다. 


* list [ 2 : ]  : 2번째부터 끝까지 가져옴
* list [ : 2 ] : 처음부터 2번째 까지 반환 
* list [ : ] : 처음부터 끝까지 전부 반환

**위 내용을 참고해서 아래 예제의 리스트에서 처음부터 2번째 값을 가져와 출력해 보세요**

In [ ]:
list = ['이제','수업','끝','남']
# 위 list3에서 처음부터 3번째 '끝' 까지만 가져와 보세요

# 여기 아래에 코딩하세요 
list = list[:3]
print(list) # 가져온 값을 출력해 봅니다

['이제', '수업', '끝']

더블클릭 또는 enter 키를 눌러 수정