<h1>파이썬 실습 - 4강</h1>
  
5/20일 실습내용 
*  Loops

## 루프(Loops) 란? 

루프는 명령어를 반복적으로 실행 시키는 경우에 사용합니다.

예를 들어 " Hello world!" 라는 것을 100번 print 할때 print를 100번 하는 것은 비효율적이죠! 

그래서 이럴 경우 파이썬에서 제공하는 루프(Loop)명령문을 이용한다면 100번 작성할 필요가 없습니다. 

고양이  list를 print 한다고 가정해 봅시다.

In [ ]:
# 고양이 종류 list를 print 할 경우 
cat_breeds = ['샴','러시안블루','먼치킨','페르시안','코리안숏헤어']

print("고양이종류:")
print(cat_breeds[0])
print(cat_breeds[1])
print(cat_breeds[2])
print(cat_breeds[3])
print(cat_breeds[4])

고양이종류:
샴
러시안블루
먼치킨
페르시안
코리안숏헤어

이렇게 5번 print 하는건 너무 귀찮죠. 그래서 loop를 사용합니다.

## for 루프 

* for 루프(for loop)
  - for문은 각 시퀀스 값에 따라 반복하는 명령문 입니다.
  - 반복을 얼마나 할 지 정확한 횟수를 기반으로 구성됩니다.

In [ ]:
# 고양이 종류 list를 for문으로 print 할 경우 
cat_breeds = ['샴','러시안블루','먼치킨','페르시안','코리안숏헤어']

for breed in cat_breeds:   #cat_breed라는 list 안에 있는 breed들을 불러와서
  print(breed)  #전부 출력합니다

샴
러시안블루
먼치킨
페르시안
코리안숏헤어

이런식으로 for 문을 만드는 형식은 아래와 같습니다. 

 for <임시변수> in 
>  <list 변수> :

>   <취할 동작>  





위 예제의 경우, 임시변수는 breed 이고 list 변수는 cat_breeds 그리고 취할 동작은 print(breed) 입니다. 
임시변수는 우리가 원하는 이름으로 지정하면 됩니다. 아래 예제처럼 i 또는 cat 이라고 지정해도 같은 결과가 나옵니다. 

아래 코드를 보면 for 루프 이후에 print 앞에 한 칸씩 들여쓰기(indentation)가 되어 있는데요, 만약 for문 작성 후 아래에 들여쓰기를 하지 않을경우 indentation error가 발생 하니 주의하세요.

In [ ]:
# 고양이 종류 list를 for문으로 print 할 경우 
cat_breeds = ['샴','러시안블루','먼치킨','페르시안','코리안숏헤어']

for i in cat_breeds:   # 임시변수를 i 라고 지정합니다.
  print(i)  #고양이 리스트를 전부 출력합니다

샴
러시안블루
먼치킨
페르시안
코리안숏헤어

In [ ]:
# 들여쓰기를 안하면 indentation error가 발생합니다. 

cat_breeds = ['샴','러시안블루','먼치킨','페르시안','코리안숏헤어']

for cat in cat_breeds:   # 임시변수를 cat 라고 지정합니다
print(cat)  #고양이 리스트를 전부 출력합니다

IndentationError: ignored

## while 반복문

while 문은 while 키워드 다음의 조건이 참인 동안 계속 while 안의 블럭을 실행 합니다. 예를 들어, 아래 예제를 보면 while의 조건 식은 i 가 10보다 작거나 같은 경우인데, i 값이 이 조건에 맞으면 계속 루프를 돌게 됩니다. 따라서 아래 예제는 1부터 10까지 값을 출력하게 됩니다.

In [ ]:
i = 1
while i <= 10: # i 가 10보다 작거나 같으면
  print(i) # i를 출력한다
  i += 1  # 그리고 i는 1씩 증가함

1
2
3
4
5
6
7
8
9
10

### while 문으로 1부터 100까지 더하기

In [ ]:
i = 1 
sum = 0  #합은 0으로 정의
while i < 100: # i 가 100 미만이면
  sum += i #i 계속 더한다 
  i += 1 #i 는 1씩 증가 

print(sum)

4950

**반복문 생성시  반복하고자 하는 조건식은 항상 반복문 바디(body) 안에 있어야 합니다.  아래 예제를 보면 i += 1 이 반복문 바디 밖에 있어서반복문이 항상 참이 됩니다. 그래서 결국 무한반복실행을 하게 됩니다. 이 내용은 뒤에서 더 자세하게 설명합니다.**

while loop 조건식 
> #loop body
> #실행할 동작

In [ ]:
# 1부터 100까지 더하기 무한반복 경우 
i = 1 
sum = 0 
while i < 100:
  sum += i 
i+= 1
print(sum)

KeyboardInterrupt: ignored

## range() 함수 

range() 함수는 반복문과 연동되어 많이 사용되는 함수 입니다. 위에서 살펴본 리스트 외에 다른 명령을 실행하고 싶을 때 for 반복문에서 몇 번 루프를 돌지를 표시하기 위해 range() 함수를 종종 함께 사용합니다. 

예를 들어, 아래는 Hello 문자열을 10번 (0 부터 9)까지 출력하는 예제 입니다. 

### 예제1

In [ ]:
for i in range(10):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

### **위 예제에서와 같이 range() 함수 괄호 안에 실행하고자 하는 명령 횟수를 적어줍니다.  range 함수는 숫자 n을 input으로 받아서 0부터 n-1 까지의 리스트를 반환합니다.  아래 예제를 참고하세요.** 

### 예제1

In [ ]:
list1 = range(5) # 0부터 4까지 값으로 가지는 list 생성
print("list1 안의 값들:")
print(list(list1)) #list1 리스트 출력
print("list1 길이:")
print(len(list1)) #liist1 길이 출력

list2 = range(7) # 0부터  6까지 list 생성
print("list2 안의 값들:") 
print(list(list2))
print("list2 길이:")
print(len(list2))

list1 안의 값들:
[0, 1, 2, 3, 4]
list1 길이:
5
list2 안의 값들:
[0, 1, 2, 3, 4, 5, 6]
list2 길이:
7

### 예제 2

아래 예제는 word라는 문장을  for문과 range() 함수를 사용해서 5번 출력합니다.

In [ ]:
word = "I will not be late for class " 
for i in range(5):
  print(word)

I will not be late for class
I will not be late for class
I will not be late for class
I will not be late for class
I will not be late for class

## 무한루프 & break 

지금까지  시작과 끝이 있는 list를 for문으로 반복했습니다. 이번에는 무한 루프를 만들어 봅니다. 
무한 루프는 말그대로 loops가 무한반복 되는걸 말합니다.  위에서 while문은 조건에 따라서 코드를 반복했습니다. 만약 조건이 항상 '참' 으로 고정 되어 있으면 무한반복에 빠지게 됩니다.  

반복문 안에서 루프를 빠져나오기 위해 break 문을 사용할 수 있습니다.  

아래 예제를 보면 1부터 10까지의 합을 구하는데,  i가 100 보다 큰 경우 while 루프를 빠져나옵니다.

In [ ]:
i = 1
sum = 0 
while True:  #while 문의 참으로 고정되어 있음
  i += 1   
  if i > 100: #i가 100보다 큰 경우
    break     #루프를 빠져나옴
  sum += i    

print(sum)   # 100 까지만 sum 한 결과

5049

다른 예제를 볼까요  아래와 같이 eng 리스트 안의 A 부터 I 까지 중 F 까지만 print 를 할 수 있습니다.

In [ ]:
eng = ['A','B','C','D','E','F','G','H','I'] 

print("print eng")
for text in eng:
  print(text) 
  if text == 'F':   # F 만나면
    break           # 그만 print 해라 
  
print("print end")

print eng
A
B
C
D
E
F
print end

## Continue

반복을 하며 리스트를 헤엄쳐 나갈 때, 가끔은 몇개의 값을 스킵하고 싶을 때가 있습니다.

그럴 때는  continue  를 사용합니다. 

아래의 예제에서는 짝수일 때 스킵합니다.

In [ ]:
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in nums:
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8

학과 주점에 손님들이 오셨습니다!
나이를 물어보고, 대답하게 한뒤, 
20살 미만일 경우 
 "미짜입니다! 나가세요!" 를 출력하세요.
 
 ### 예제 1

In [ ]:
ages = [18, 23, 21, 17, 20, 24, 19]

# 여기서 부터 반복문

##  While  로 리스트 헤엄치기~

while  문으로도 리스트를 반복하며 처리할 수 있습니다 

아래의 예제를 한번 볼까요?

In [ ]:
dog_breeds = ['bulldog', 'dalmation', 'shihtzu', 'poodle', 'collie']

index = 0
while index < len(dog_breeds):
  print(dog_breeds[index])
  index += 1

아래의 예제를 완성해보세요.

축제기간입니다!
입장줄 entry_list 의 정원은 5 명입니다. 
대기줄  waiting_lsit  에서 한명씩 빼서[ .pop()]   entry_list 가 5명이 될 때 까지  .append()  해보세요.

### 예제 1

In [ ]:
waiting_list = ["Thor", "Doby", "Hulk", "Alexa", "Siri", "Clova", "Loki", "Brian", "Arius"]
entry_list = []

# 여기서 부터 작성

## Nested Loops  중첩 루프문

반복문 안에..
반복문을 또 넣을 있어요. 이걸 중첩루프문이라고 합니다. 

리스트안의 리스트, 중첩 리스트를 사용할 때 매우 유용하죠!

아래의 예제를 한 번 볼까요?

In [ ]:
msi_teams = [["Impact", "Xmithie", "Jenson","Doublelift","CoreJJ"], ["Wunder", "Jankos","Caps","Perkz","Mikyx"],
             ["Khan", "Clid","Faker","Teddy","Mata"]]

for team in msi_teams:
  for player in team:
    print(player)

Impact
Xmithie
Jenson
Doublelift
CoreJJ
Wunder
Jankos
Caps
Perkz
Mikyx
Khan
Clid
Faker
Teddy
Mata

당신은 총 3개의 스티커 부스를 운영하고 있습니다. 
각지점의 월,수,금 스티커 판매량을 sales_data 에 저장하였습니다.
이번주 총 스티커 판매량  stickers_sold  를 구해보세요!

###  예제1

In [ ]:
sales_data = [[231, 532, 780], [121, 316, 317], [67, 89, 523]]

stickers_sold = 0

#여기에 작성

## 간편 반복리스트 만들기

한줄로 떼울 수 있답니다.

In [ ]:
celsius = [0, 10, 15, 32, -5, 27, 3]
fahrenheit = []

for c in celsius:
  fahrenheit.append(c * 9/5 + 32)
print(fahrenheit)

[32.0, 50.0, 59.0, 89.6, 23.0, 80.6, 37.4]

In [ ]:
celsius = [0, 10, 15, 32, -5, 27, 3]

fahrenheit = [c * 9/5 + 32 for c in celsius]
print(fahrenheit)

[32.0, 50.0, 59.0, 89.6, 23.0, 80.6, 37.4]